<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</head>

<style>
  body {
    background-image: url("https://i.blogs.es/4b7486/4k/1366_2000.jpg");
    background-size: cover;
    opacity: 0.98;
    background-attachment: fixed;
    overflow: scroll;
  }
</style>

<body>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">RP (Recomendador de películas)</h5>
      <span class="text-muted">Trabajo realizado por Carmen Mª Muñoz Pérez y Francisco Rodríguez Pérez para la
        asignatura
        de CBD (Complemento de Base de Datos).</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="/" class="btn d-grid gap-2 col-1" style="color:aliceblue"> Inicio</a>
      <a href="/selector" class="btn d-grid gap-2 col-1" style="color:aliceblue"> Selector</a>
    </div>
  </nav>
  <br>
  <div>
    <div class="container d-flex justify-content-center" style="margin-top: 12%;width: 100%;">
      <div class="card text-center" style="background:#E4D00A;opacity: 0.95">
        <div class="d-flex justify-content-center">
          <div>
            <a href="/"><img th:src="@{/img/logo_rp.PNG}" width="120" height="100"></a>
          </div>
        </div>
        <div class="card-body" style="background-color:#E4D00A;opacity: 0.95">
          <h5 class="card-title">Ups, parece que el servidor no responde</h5>
          <a href="/" class="btn d-grid gap-2 col-4 mx-auto"
            style="background-color:grey; color:aliceblue">Volver a inicio</a>
        </div>
      </div>
    </div>
  </div>
</body>
<footer></footer>

</html>